body {
  background-color: #0f1218;
}

.color {
  background-color: #3e4a61;
}

.color-movies {
  background-color: #1a212e;
}

.middle-body {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.middle-body>* {
  flex: 1 1 300px;
}

.img {
  height: 445px;
}

.poster-image {
  transform: scale(0.75);
}